name: Main Workflow

on:
  pull_request:
    types: [opened, reopened]

permissions:
  issues: write
  pull-requests: write

jobs:
  call-workflow:
    runs-on: ubuntu-latest
    steps:
      - name: Use Add D- Label Action
        uses: torder-lkj/add_label@v1.0.2
        with:
          github_token: ${{ secrets.OR_TOKEN }}